body {
  margin: 0;
  font-family: Arial;
  background: #0b1b34;
}

/* card */
.container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: #1f2c3f;
  border-radius: 12px;
  text-align: center;
  color: white;
}

/* inputs */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}

/* button */
.btn {
  width: 100%;
  padding: 12px;
  background: #3b6eea;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.logout {
  background: red;
}