.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primary-btn {
  margin-top: 15px;
}

.items-list {
  margin-top: 10px;
}

.item-card {
  background: #1e2a38;
  padding: 15px;
  margin-top: 12px;
  border-radius: 10px;
  text-align: left;
}

.item-card h4 {
  color: #00f2fe;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
  color: #ccc;
}

.contact {
  margin-top: 5px;
  color: #fff;
}

.delete-btn {
  margin-top: 10px;
  background: #ff4d4d;
}

.link {
  margin-top: 10px;
  color: white;
  cursor: pointer;
}